@use "index";
@use "mixin" as m;

/************************************************************/
/*************************************************** header */
/************************************************************/
@include m.mq(sp) {
    #header_wide {
        display: none;
    }
}
@include m.mq(tab) {
    #header_wide {
        display: none;
    }
}
@include m.mq(pc) {
    #header_wide {
        position: sticky;
        top: 0;
        z-index: 97;
        transition: all 0.3s ease-in-out 0.3s;
        background: index.$keycolor-cream;
        padding: index.$spc-s;
        border-bottom: solid 4px index.$keycolor-darknavy-00;
        .header_wrapper {
            max-width: 1280px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .header_wide {
                &_left {
                    .title {
                        font-size: index.$fs-l;
                        color: white;
                        width: 200px;
                        img {
                            width: 100%;
                        }
                    }
                }
                &_right {
                    display: flex;
                    flex-direction: column;
                    gap: index.$spc-m;
                    .gnav {
                        ul {
                            display: flex;
                            flex-direction: row;
                            gap: index.$spc-m;
                            li {
                                a {
                                    font-size: index.$fs-s;
                                }
                            }
                        }
                    }
                    .reserve {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        .title {
                            display: grid;
                            place-items: center;
                            background: index.$keycolor-darknavy-00;
                            color: index.$white;
                            font-size: index.$fs-s;
                            border-radius: 4px;
                            height: 32px;
                            padding: 0 20px;
                        }
                        .iconlist {
                            display: flex;
                            flex-direction: row;
                            margin-left: 20px;
                            gap: 20px;
                            .icon {
                                width: 32px;
                                img {
                                    width: 100%;
                                    fill: index.$acc-blue;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    #header_wide.hide {
        position: sticky;
        top: -116px;
        transition: all 0.3s ease-in-out 0s;
    }
}
