@use "index";
@use "mixin" as m;
/************************************************************/
/************************************************** heading */
/************************************************************/
@include m.mq(sp) {
.section_heading {
		&-label {
			display: inline;
			text-align: left;
			font-size: index.$fs-s;
			padding-left: index.$spc-l;
			padding-bottom: 4px;
			border-bottom: solid 1px index.$b-kachikaeshi;
		}
		&-01 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-s;
			margin: auto;
			font-size: index.$fs-xl;
			& > .underline {
				display: flex;
				height: 2px;
				width: calc(100% + 15px);
				background: #ccc;
				margin-top: 4px;
				span:nth-child(1) {
					position: relative;
					left: -15px;
					top: -6px;
					background: index.$r-beniaka;
					width: 15px;
					height: 8px;
				}
			}
		}
		&-02 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-s;
			margin: auto;
			display: inline;
			font-size: index.$fs-l;
			background:linear-gradient(transparent 25%, index.$y-nanohana 50%, transparent 50%, transparent 75%, index.$y-nanohana 100%);
		}
		&-03 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-m;
			margin: auto;
			font-size: index.$fs-m;
			br {
				display: none;
			}
		}
		&-lead {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-m;
			margin: auto;
			font-size: 0.95rem;
			line-height: 1.6;
		}
		&-sidebar {
			position: relative;
			font-weight: 600;
			text-align: left;
			line-height: 1.3;
			margin: auto;
			font-size: index.$fs-m;
			&:before {
				content: '';
				display: block;
				width: 32px;
				height: 1px;
				background: index.$keycolor-greishyellow;
				position: absolute;
				top: calc(50% - 1px);
				left: -40px;
			}
			&:after {
				content: '';
				display: block;
				width: 32px;
				height: 1px;
				background: index.$keycolor-greishyellow;
				position: absolute;
				top: calc(50% - 1px);
				right: -40px;
			}
			&-list {
				position: relative;
				font-weight: 500;
				text-align: left;
				line-height: 1.3;
				margin: auto;
				font-size: index.$fs-s;
				padding-bottom: 2px;
				color: index.$y-mokuranjiki;
				border-bottom: dotted 1px index.$y-mokuranjiki;
			}
		}
	}
}
@include m.mq(tab) {
	.section_heading {
		&-label {
			display: inline;
			text-align: left;
			font-size: index.$fs-s;
			padding-left: index.$spc-l;
			padding-bottom: 4px;
			border-bottom: solid 1px index.$b-kachikaeshi;
		}
		&-01 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-s;
			margin: auto;
			font-size: index.$fs-xl;
			& > .underline {
				display: flex;
				height: 2px;
				width: calc(100% + 15px);
				background: #ccc;
				margin-top: 4px;
				span:nth-child(1) {
					position: relative;
					left: -15px;
					top: -6px;
					background: index.$r-beniaka;
					width: 15px;
					height: 8px;
				}
			}
		}
		&-02 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-s;
			margin: auto;
			display: inline;
			font-size: index.$fs-l;
			background:linear-gradient(transparent 25%, index.$y-nanohana 50%, transparent 50%, transparent 75%, index.$y-nanohana 100%);
		}
		&-03 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-m;
			margin: auto;
			font-size: index.$fs-m;
			br {
				display: none;
			}
		}
		&-lead {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-m;
			margin: auto;
			font-size: 0.95rem;
			line-height: 1.6;
		}
		&-sidebar {
			position: relative;
			font-weight: 600;
			text-align: left;
			line-height: 1.3;
			margin: auto;
			font-size: index.$fs-m;
			&:before {
				content: '';
				display: block;
				width: 32px;
				height: 1px;
				background: index.$keycolor-greishyellow;
				position: absolute;
				top: calc(50% - 1px);
				left: -40px;
			}
			&:after {
				content: '';
				display: block;
				width: 32px;
				height: 1px;
				background: index.$keycolor-greishyellow;
				position: absolute;
				top: calc(50% - 1px);
				right: -40px;
			}
			&-list {
				position: relative;
				font-weight: 500;
				text-align: left;
				line-height: 1.3;
				margin: auto;
				font-size: index.$fs-s;
				padding-bottom: 2px;
				color: index.$y-mokuranjiki;
				border-bottom: dotted 1px index.$y-mokuranjiki;
			}
		}
	}
}
@include m.mq(pc) {
	.section_heading {
		&-label {
			display: inline;
			text-align: left;
			font-size: index.$fs-s;
			padding-left: calc((100vw - index.$maxvw-xxl) / 2);
			padding-bottom: 4px;
			border-bottom: solid 1px index.$b-kachikaeshi;
		}
		&-01 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-s;
			margin: auto;
			font-size: index.$fs-xl;
			& > .underline {
				display: flex;
				height: 2px;
				width: calc(100% + 15px);
				background: #ccc;
				margin-top: 4px;
				span:nth-child(1) {
					position: relative;
					left: -15px;
					top: -6px;
					background: index.$r-beniaka;
					width: 15px;
					height: 8px;
				}
			}
		}
		&-02 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-s;
			margin: auto;
			display: inline;
			font-size: index.$fs-l;
			background:linear-gradient(transparent 25%, index.$y-nanohana 50%, transparent 50%, transparent 75%, index.$y-nanohana 100%);
		}
		&-03 {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-m;
			margin: auto;
			font-size: index.$fs-m;
			br {
				display: none;
			}
		}
		&-lead {
			font-weight: 600;
			text-align: center;
			line-height: index.$lh-m;
			margin: auto;
			font-size: 0.95rem;
			line-height: 1.6;
		}
		&-sidebar {
			position: relative;
			font-weight: 600;
			text-align: left;
			line-height: 1.3;
			margin: auto;
			font-size: index.$fs-m;
			&:before {
				content: '';
				display: block;
				width: 32px;
				height: 1px;
				background: index.$keycolor-greishyellow;
				position: absolute;
				top: calc(50% - 1px);
				left: -40px;
			}
			&:after {
				content: '';
				display: block;
				width: 32px;
				height: 1px;
				background: index.$keycolor-greishyellow;
				position: absolute;
				top: calc(50% - 1px);
				right: -40px;
			}
			&-list {
				position: relative;
				font-weight: 500;
				text-align: left;
				line-height: 1.3;
				margin: auto;
				font-size: index.$fs-s;
				padding-bottom: 2px;
				border-bottom: dotted 1px index.$keycolor-darknavy-00;
			}
		}
	}
	}
